.postImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;  
}

.post{
    font-family: sans-serif;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.45);
    margin: 30px 0;
    margin-left: 10px;
    border-radius: 10px;
    width: 90%;
}

.postTop{
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.postCenter{
    margin-left: 0px;
}

.postTopLeft{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.postCaption{
    margin-left: 10px;
}

.postUserName{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postTime{
    font-size: 10px;
}

.postedImage{
    width: 98%;
    background-size: cover;
    margin-left: 5px;
    margin-top: 5px;
}

.reactionPic{
    width: 24px;
    height: 24px;
    margin-left: 1px;
    cursor: pointer;
}

.postBottom{
    align-items: center;
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    margin-top: 10px;
}

.likeCount{
    margin-left: 5px;
    font-size: 15px;
}

.commentCount{
    margin-right: 10px;
    border-bottom: 1px dashed gray;
    cursor: pointer;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}