.postImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;  
}

.postTop{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.postUserName{
    font-size: 32px;
    font-weight: 500;
    margin: 0 10px;
}